@import url(//fonts.googleapis.com/css?family=Comic+Neue);
@import url(//fonts.googleapis.com/css?family=Arimo);
@import url(//fonts.googleapis.com/css?family=Charm);

body {
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(red, yellow);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Charm;
    padding: 10px;
    padding-bottom: 0;
    gap: 30px;
}

.header {
    display: flex;
    justify-content: stretch;
    align-items: center;
    font-family: 'Comic Neue';
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    color: turquoise;
    padding: 20px;
    background-color: yellow;
}

.subheader {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.subheader > .text {
    text-align: center;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.text > .upper {
    color: yellowgreen;
    font-size: 40px;
}

.text > .lower {
    color: purple;
    font-size: 30px;
    font-family: Arimo;
    background-color: lightgreen;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: purple;
}

.text-final {
    display: none;
    margin-top: 40px;
    color: white;
    font-size: 40px;
    font-family: Arimo;
    font-weight: bold;
}
.score {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-family: 'Comic Neue';
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: blue;
}

.playerscore, .computerscore {
    width: 400px;
    max-width: 400px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.controls {
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

.controls .button-play {
    border-style: solid;
    border-width: 10px;
    border-color: green;
    box-shadow: 5px 10px ;
    transition: all .07s ease; 
}

.result {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-size: 25px;
    text-align: center;
}

.box {
    width: 250px;
    height: 100px;
    border-radius: 50%;
    background-color: green;
    padding: 25px;
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    color: white;
    position: relative;
}

.box:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid green;
    border-top: 20px solid transparent;
    border-bottom: 20px solid green;
    left: -20px;
    bottom: 40px;
}


div .final-result {
    font-size: 90px;
    text-align: center;
    font-weight: bold;
    color: green;
}

.fadeIn {
    opacity:0;
    transform: translateY(30px);
    animation: fadeIn 3s ease-out forwards;
}

@keyframes fadeIn{
    to{
      opacity: 1;
      transform: translateY(0);
    }
}

.playing {
    transform: scale(1.1);
}

.comments > img {
    display: none;
}

.start-screen {
    display: none;
}